@use "../variables.scss" as vars;

.menu-componet-wapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: vars.$bg-color;
    font-size: 14px;

    .menu-account {
        height: 57.6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;

        .account-info {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            .account-avatar img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
                border: 2px solid vars.$btn-bg;
            }

            .account-name {
                color: vars.$text-color;
                font-weight: 500;
            }

            &:hover .account-name {
                color: vars.$text-accent;
                text-decoration: underline;
            }
        }

        svg {
            width: 20px;
            height: 20px;
            cursor: pointer;
            color: vars.$icon-color;

            &:hover {
                background-color: vars.$hover-bg;
            }
        }
    }

    .menu-add-task {
        margin-bottom: 10px;

        .add-task-btn {
            width: 100%;
            max-width: 240px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px 12px;
            cursor: pointer;
            font-weight: 500;
            font-size: 14px;
            border-radius: 6px;
            transition: background-color 0.2s, transform 0.2s;
            background-color: vars.$btn-bg;
            color: vars.$btn-text-color;
            border: none;

            svg {
                width: 24px;
                height: 24px;
                background-color: vars.$btn-bg;
                color: vars.$btn-text-color;
                border-radius: 50%;
                padding: 3px;
            }

            &:hover {
                // background-color: vars.$hover-bg;
                transform: scale(0.98);
            }
        }
    }

    .menu-inbox-item {
        padding: 9px 12px;
        margin-bottom: 15px;
        border-radius: 6px;
        font-size: 13px;
        color: vars.$text-color;

        .inbox-link {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            text-decoration: none;

            .inbox-icon {
                svg {
                    display: block;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    color: vars.$icon-color;
                }
            }

            .inbox-title {
                color: vars.$text-color;
                font-weight: 500;
                font-size: 14px;
            }
        }

        &:hover {
            background-color: vars.$hover-bg;
        }

        &.active {
            background-color: #ffefe5;

            .inbox-link {
                .inbox-title {
                    color: vars.$text-accent;
                }

                .inbox-icon svg {
                    color: vars.$text-accent;
                }
            }
        }

    }

    .menu-content {
        flex: 1;
        display: flex;
        flex-direction: column;

        .menu-projects {
            .menu-heading {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                padding: 5px 10px;
                border-radius: 6px;
                cursor: pointer;
                transition: background-color 0.2s;

                .menu-heading-text {
                    font-weight: 600;
                    font-size: 15px;
                    color: vars.$text-color;
                }

                .add-project-btn {
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    svg {
                        width: 20px;
                        height: 20px;
                        color: vars.$btn-bg;
                        display: block;
                    }

                    &:hover svg {
                        color: vars.$text-accent;
                    }
                }
            }

            .project-list {
                .project-item {
                    position: relative;
                    border-radius: 6px;
                    transition: all 0.2s;
                    margin-left: 15px;

                    .project-link {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 8px 10px;
                        text-decoration: none;
                        color: vars.$text-color;
                        border-radius: 6px;
                        width: 100%;
                    }

                    .project-action {
                        display: none;
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        font-size: 18px;
                        color: vars.$btn-bg;
                        transition: color 0.2s;

                        &:hover {
                            color: vars.$text-accent;
                        }
                    }

                    &:hover {
                        background-color: vars.$hover-bg;

                        .project-action {
                            display: block;
                        }
                    }

                    &.active {
                        background-color: #ffefe5;

                        .project-link {
                            color: vars.$text-accent;
                        }

                        .project-icon svg {
                            color: vars.$text-accent;
                        }
                    }
                }
            }
        }
    }
}