@use "./variables" as vars;
@use "./LayoutsStyle/AuthLayoutStyle.scss";
@use "./LayoutsStyle/MainLayoutStyle.scss";
@use "./PagesStyle/LoginStyle.scss";
@use "./PagesStyle/VerificationStyle.scss";
@use "./ComponentsStyle/MenuComponentStyle.scss";

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.page-transition {
    animation: slide-up 0.2s ease-out forwards;
}

