$bg-color: #fff9f9; // Màu nền chính của menu, input, dropdown, v.v.
$hover-bg: #ebebeb; // Màu nền khi hover
$active-bg: #ffefe5; // Màu nền khi active (như item được chọn)

$text-color: #333; // Màu chữ chính (text input, tiêu đề, v.v.)
$text-accent: #af2b13; // Màu chữ nhấn mạnh (như active item, highlight)

$icon-color: #333; // Màu biểu tượng

$border-color: #ccc; // Màu viền (input, dropdown, ...)
$border-color-focus: #af2b13; // Màu viền khi focus (input, dropdown, ...)

$btn-bg: #d44731; // Màu nền nút chính (nút submit, thêm,...)
$btn-bg-hover: #af2b13; // Màu khi hover nút chính
$btn-text-color: #f4f4f4; // Màu chữ của nút chính

