@use '../variables.scss' as vars;

.dashboard-wapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    .dashboard-content {
        width: 100%;
        padding: 0 230px;

        .big-page-title {
            height: 61.6px;
            display: flex;
            align-items: flex-end;
            font-size: 26px;
            font-weight: 700;
            color: vars.$text-color;
        }

        .modal-backdrop-inbox {
            width: 100%;
            max-width: 900px;
            margin-top: 20px;
        }

        .task-lists {
            margin-top: 50px;

            .divider-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px 0;
                cursor: pointer;

                .line {
                    flex: 1;
                    height: 1px;
                    background-color: transparent;
                    margin: 0 10px;
                    transition: background-color 0.25s ease;
                    transition-delay: 0s; // mặc định không delay
                }

                .btn-text {
                    font-size: 14px;
                    color: vars.$bg-color;
                    background-color: transparent;
                    border: none;
                    transition: color 0.25s ease;
                    transition-delay: 0s; // mặc định không delay
                }

                &:hover {
                    .line {
                        background-color: vars.$btn-bg-hover;
                        transition-delay: 0.2s; // delay trước khi hiện
                    }

                    .btn-text {
                        color: vars.$btn-bg-hover;
                        transition-delay: 0.2s; // delay text đổi màu
                    }
                }
            }
        }
    }

    .empty-state {
        text-align: center;
        margin-top: 20px;

        .image-wrapper {
            display: flex;
            justify-content: center;

            .empty-image {
                width: 220px;
                opacity: 0.95;
                user-select: none;
            }
        }

        .title {
            font-size: 16px;
            font-weight: 600;
            color: vars.$text-color;
        }

        .subtitle {
            margin: 0 auto;
            width: 260px;
            font-size: 14px;
            color: vars.$text-secondary;
            line-height: 1.5;
        }

        .create-list-button {
            width: 100%;
            max-width: 220px;
            margin-top: 15px;
            padding: 10px 0px;
            background-color: vars.$btn-bg;
            color: vars.$btn-text-color;
            border: none;
            border-radius: 6px;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                background-color: vars.$btn-bg-hover;
                transform: translateY(-1px);
            }
        }
    }

}