@use "sass:color";
@use "../variables.scss" as vars;

.auth-form {
    padding: 10px 30px 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 500px;

    .form-title {
        text-align: center;
        margin-bottom: 30px;
        font-size: 26px;
        color: vars.$text-color;
    }

    form {
        .form-group {
            margin-bottom: 20px;

            .label {
                display: block;
                margin-bottom: 6px;
                font-size: 14px;
                color: vars.$text-color;
            }

            .input {
                width: 100%;
                padding: 8px;
                border: 1px solid vars.$border-color;
                border-radius: 8px;
                font-size: 14px;
                transition: border-color 0.2s;

                &:focus {
                    border-color: vars.$border-color-focus;
                    outline: none;
                }
            }

            .password-input-wrapper {
                position: relative;

                .toggle-password {
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    transform: translateY(-50%);
                    cursor: pointer;
                    color: #888;

                    &:hover {
                        color: #333;
                    }
                }
            }
        }

        .forgot-password {
            text-align: right;
            margin-bottom: 20px;

            a {
                font-size: 14px;
                color: vars.$text-accent;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .auth-button {
            width: 100%;
            // padding: 8px;
            height: 34.4px;
            background-color: vars.$btn-bg;
            color: #fff;
            border: none;
            border-radius: 8px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
                background-color: vars.$btn-bg-hover;
            }
        }
    }

    .sign-in-other {
        margin: 25px 0;
        text-align: center;

        .divider-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0;

            .line {
                flex: 1;
                height: 1px;
                background-color: vars.$border-color;
                margin: 0 10px;
                border-radius: 1px;
            }

            .text {
                font-size: 14px;
                color: vars.$text-color;
                text-transform: uppercase;
            }
        }

        .social-buttons {
            .social-button {
                width: 100%;
                // padding: 7.2px; 
                height: 34.4px;
                border-radius: 8px;
                font-size: 14px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                transition: all 0.2s;
                background-color: vars.$bg-color;
                border: 1px solid vars.$border-color;
                color: vars.$text-color;

                &:hover {
                    background-color: vars.$hover-bg;
                    border-color: color.scale(vars.$border-color, $lightness: -15%);
                }

                svg {
                    font-size: 20px;
                }
            }
        }
    }

    .no-account {
        text-align: center;
        font-size: 14px;
        color: #555;

        a {
            color: vars.$text-accent;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

    }
}